body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./img/bg.jpg');
  background-repeat: round;
  color: black;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 45%;
}

.headerConv {
  height: 60px;
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
  color: rgb(38, 0, 119);
  width: 100%;
  background-color: #ffbf7f6e;
    
}

.conversion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputFile {
  padding: 70px;
}

.fecha {
  margin: 20px;
}

.divBotones{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.select {
  margin: 20px;
}

.buscador {
  display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: cursive;
}

.react-bootstrap-table
table {
  font-size: 20px;
  background-color: azure;
  width: 90%;
  margin: 0 auto;
}

.infoContainer {
  text-align: center;
}


.botonInput {
  background-color: burlywood;
}

.range {
  border: 5px solid #a26707;
    border-radius: 20px;
    text-align: center;
    margin: 0px;
    padding: 40px;
    background-color: aliceblue;
}

.info {
  border: 5px solid #a26707;
  border-radius: 20px;
  text-align: center;
  margin: 40px;
  background-color: cornsilk;
}

.restante {
  background-color: beige;
  border: 1px solid black;
  padding: 5px;
  border-radius: 15px;
}

.noPudo {
  background-color: rgb(255, 49, 49);
  border: 1px solid black;
  padding: 5px;
  border-radius: 15px;
  color: white;
}

@media (max-width: 720px) {
  .react-bootstrap-table
  table {
    font-size: 10px;
  }

  .range {
    width: 60%;
    margin: 0 auto;
  }

  .info {
    width: 60%;
    margin: 20px auto;
  }

  .restante {
    width: 90%;
    margin: 10px auto;
  }

  .noPudo {
    width: 90%;
    margin: 10px auto;

  }

  .range
  .MuiBox-root 
    .css-14pt78w-MuiSlider-rail {
      width: 50%;
    
  }

  .container {
    width: 100%;
  }
}

